nascent.dev {
    reverse_proxy nascent-frontend:8080 {
        header_down Strict-Transport-Security max-age: 31536000
        to *
    }
}

api.nascent.dev {
    reverse_proxy nascent-api:3000 {
        header_down Strict-Transport-Security max-age: 31536000
    }
}
